:root{
--navbarBG: #2F3640;
--navbarSM: #18222A;
--hoverorange: #ff924f;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: white;
    display: block;
}

/* top small navbar properties */

.small-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--navbarSM);
}

.small-container-center{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

@media only screen and (max-width: 1000px){
    .small-container-center{
        width: auto;
        gap: 90px;
        transition: smooth;
    }

}


@media only screen and (max-width: 680px){
    .small-container{
        width: auto;
    }
    .small-container-center{
        margin: 0px;
        width: auto;
        gap: 25px;
    }
    .text{
        display: none;
    }

    .number{
        display: none;
    }
    .leftside-navbar{
        gap: 15px!important;
    }

}


/* top small navbar, left side contacts, and number */

.leftside-navbar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 11pt;
}

.navbar-email>a{
    color: white;
    text-decoration: none;
    padding-left: 4px;
}

.navbar-email>a>i{
    color: var(--hoverorange);
}

.navbar-email>a:hover{
    color: var(--hoverorange);
}

.navbar-number>a{
    color: white;
    text-decoration: none;
    padding-left: 4px;
}

.navbar-number>a:hover{
    color: var(--hoverorange);
}

.navbar-number>a>i{
    color: var(--hoverorange);
}

/* top small navbar, right side, svg, contactus text and arrow */

.rightside-navbar{
    font-size: 13pt;
}

.navbar-contactus{
    display: inline-flex;
    gap: 10px;
}

.contactus-icons{
    display: flex;
    gap: 15px;
}

.contactus-icons>a{
    color: white;
}

.contactus-icons>a:hover{
    color: var(--hoverorange);
}

.navbar-contactus>a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

.navbar-contactus>span{
    color: var(--hoverorange);
}

.navbar-contactus>a:hover{
    color: var(--hoverorange);
}

/* ------------------------ */
/* ----Big navbar channel section---- */

.big-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--navbarBG);
    height: 140px;
}

.big-container-center{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 65%;
    height: auto;

}

.icon{
    display: none;
}

.navbar-logo>a>img{
    width: 220px;
}

.navbar-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    position: relative;
}

.navbar-ul>li>a{
    color: white;
    font-size: 14pt;
    text-decoration: none;
}

.navbar-ul>li>a:hover{
    color: var(--hoverorange);
}

@media only screen and (max-width: 1300px){
    .big-container-center{
        gap: 0px;
    }
    .navbar-ul>li>a{
        font-size: 1.3vw;
    }
    .navbar-dropdown>li>a{
        font-size: 1.3vw;
    }

}

@media screen and (max-width: 1200px){
    .navbar-main{
        display: none;
    }
    .navbar-main.show{
        display: flex;
        position: absolute;
        background-color: var(--navbarBG);
        top: 185px;
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
        right: 0px;
        z-index: 999;
    }
    .navbar-ul>li>a{
        font-size: 14pt;
    }
    .navbar-dropdown>li>a{
        font-size: 14pt;
    }

    .navbar-ul{
        flex-direction: column;
    }
    .icon{
        color: white;
        display: block;
    }
    .icon:hover{
        color: var(--hoverorange);
    }

}

@media only screen and (max-width: 1000px){
    .big-container-center{
        width: auto;
        gap: 410px;
        transition: smooth;
    }

}

@media only screen and (max-width: 680px){
    .big-container-center{
        width: auto;
        gap: 110px;
        transition: smooth;
    }

}

/* dropdown menu */

.navbar-dropdown>li>a{
    color: white;
    font-size: 14pt;
    text-decoration: none;
}

.navbar-dropdown>li>a:hover{
    color: var(--hoverorange);
}

.dropdown-menu>li>a{
    color: white;
    font-size: 14pt;
    text-decoration: none;
}

.dropdown-menu>li>a:hover{
    color: var(--hoverorange);
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: var(--navbarSM);
    z-index: 9999;
    height: auto;
    width: 200px;
    border-radius: 5px;
}

.dropdown-menu>li{
    margin: 20px;
}

.navbar-dropdown:hover .dropdown-menu{
    display: block;
}

/* MAIN SECTION STARTS HERE */

/* Slideshow container */


/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 800px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: var(--navbarSM);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(121, 121, 121, 0.8);
}

  /* Caption text */
.caption-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.caption-text{
    display: flex;
    flex-direction: column;
    width: 65%;
    position: absolute;
    bottom: 200px;
    font-family: 'Roboto', sans-serif;

}

.captiont-text>p{
    color: black;
    font-weight: 100;
}

.caption-text>h1{
    width: 640px;
    color: var(--hoverorange);
    font-size: 45pt;
}

.caption-text>h2{
    width: 800px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 50px;
}

.caption-text>a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
}

.caption-text>a:hover{
    background-color: var(--hoverorange);
    color: white;
    transition: 1s smooth;
}
  
  /* The dots/bullets/indicators */
.dot-container{
    display: flex;
    position: relative;
    gap: 5px;
    justify-content: center;
    top: 100px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
}

@media screen and (max-width: 1000px){
    .sliderimg{
        min-width: 600px;
        min-height: 700px;
    }
}

@media screen and (max-width: 800px){
    .caption-text>h1{
        font-size: 7.2vw;
        width: auto;
        height: auto;
    }
    .caption-text>h2{
        font-size: 3vw;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 500px){
    .caption-text>h1{
        font-size: 19pt;
    }
    .caption-text>h2{
        font-size: 13pt;

    }

}

/*
@media screen and (max-width: 1200px){
    .caption-text{
        top: 7vw;
    }
    .caption-text>h1{
        font-size: 5vw;
        width: auto;
    }
    .caption-text>p{
        font-size: 1.3vw;
    }
    .caption-text>h2{
        font-size: 2vw;
        width: auto;
    }
    .caption-text>a{
        width: 16vw;
        height: 4.3vw;
    }
    .caption-text>a>span{
    font-size: 1.4vw;
    }
}

@media only screen and (max-width: 746px){
    .dot-container{
        display: none;
    }
    .caption-text>p{
        font-size: 2.3vw;
    }
    .caption-text>h2{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 2.8vw;
    }
    .caption-text>a{
        width: 20vw;
        height: 5vw;
    }
    .caption-text>a>span{
        font-size: 2vw;
    }
}