:root{
    --navbarBG: #2F3640;
    --navbarSM: #18222A;
    --hoverorange: #ff924f;
}


/* MAIN PAGES CONTENT STARTS HERE */

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 900px;
    width: 100%;
    background-color: white;
    height: auto;
}

.section-container-center{
    width: 65%;
}

/* ABOUT US PAGES SECTION */

.aboutus-small-container{
    display: flex;
}

.aboutus-small-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.aboutus-container>h1{
    font-size: 30pt;
    color: var(--hoverorange);
    text-align: center;
    margin-top: 30px;
}

.aboutus-ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 15pt;
    font-weight: bold;
    width: 400px;
}

.aboutus-ul>li::marker{
    color: var(--hoverorange);
    font-size: 27pt;
}

.hr{
border: 1px solid var(--hoverorange);
}

.aboutus-text{
    width: 400px;
}


.aboutus-text>h2{
    font-size: 40px;
}

.aboutus-text>img{
    position: relative;
    top: 90px;
}

.aboutus-second-container{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 10px;
}

.aboutus-second-container>h1{
    font-size: 30pt;
}

.aboutus-second-container>p{
    font-size: 15pt;
}


.aboutus-three-containers{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutus-three-containers>hr{
    border: 1px solid var(--hoverorange);

}

.secondbucket{
    width: 400px;
}

.small-second{
    display: flex;
    gap: 60px;
}

.small-second>i{
    font-size: 50pt;
    width: 50px;
    color: var(--hoverorange);
}

.small-third>h2{
    font-size: 17pt;
}
.small-third>p{
    font-size: 15pt;
}

@media only screen and (max-width: 1300px){
    .aboutus-small-container{
        gap: 50px;
    }
    .aboutus-ul{
        width: auto;
    }
}

@media only screen and (max-width: 1000px){
    .aboutus-small-container{
        display: block;
    }
    .aboutus-text{
        height: 500px;
    }
}

@media only screen and (max-width: 680px){
    .secondbucket{
        width: 60vw;
    }
    .aboutus-text{
        width: auto;
    }
    .aboutus-text>h2{
        font-size: 18pt;
        text-align: center;
    }
}

/* Float four columns side by side */
.column {
    margin-top: 50px;
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    padding: 16px;
    text-align: center;
    background-color: var(--navbarBG);
    color: white;
  }
  
  .card>p>i {
    font-size: 20pt;
    margin: 15px;
  }

  .card:hover h3{
    color: var(--hoverorange);
  }


/* SERVICES PAGE STARTS HERE */

.services-container{
    height: 800px;
    margin-top: 60px;
}

.services-container-second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.services-container>h1{
    font-size: 30pt;
    color: var(--hoverorange);
    text-align: center;
    margin: 30px 0px 70px 0px;
}

.services-painting{
    border-radius: 10px;
    position: relative;
    width: 350px;
    height: 650px;
    /* background img */
    background-image: url('/img/services-maleri.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.services-carpentry{
    background-color: #18222A;
    border-radius: 10px;
    width: 350px;
    height: 650px;

    /* background img */
    background-image: url('/img/services-carpentry.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.services-container-second>a{
    text-decoration: none;
    text-align: center;
    font-size: 24pt;
    color: black;
    opacity: 0.7;
    transition: 0.25s;

}

.services-container-second>a:hover{
    opacity: 1;
    transition: 0.25s;
}

.services-div{
    display: flex;
    justify-content: center;
    position: relative;
    top: 590px;
    align-items: center;
    font-size: 18pt;
    height: 60px;
    background-color: var(--navbarBG);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.services-div>p{
    color: white;
    font-weight: bold;
}

.services-container-second>a:hover .services-div{
    position: relative;
    animation-name: example;
    animation-duration: 1.3s; 
    animation-fill-mode: forwards;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@keyframes example {
    to {top: 500px;}
}

@media only screen and (max-width: 1200px){

    .services-container{
        height: auto;
    }
    .services-container-second{
        gap: 50px;
        flex-wrap: wrap;
    }
}

.gallery-container{
    height: 600px;
}


