:root{
    --navbarBG: #2F3640;
    --navbarSM: #18222A;
    --hoverorange: #ff924f;
}


/* MAIN PAGES CONTENT STARTS HERE */

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 900px;
    width: 100%;
    background-color: white;
    height: auto;
}

.section-container-center{
    width: 65%;
}

/* ABOUT US PAGES SECTION */

.aboutus-small-container{
    display: flex;
}

.aboutus-small-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.aboutus-container>h1{
    font-size: 30pt;
    color: var(--hoverorange);
    text-align: center;
    margin-top: 30px;
}

.aboutus-ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 15pt;
    font-weight: bold;
    width: 400px;
}

.aboutus-ul>li::marker{
    color: var(--hoverorange);
    font-size: 27pt;
}

.hr{
border: 1px solid var(--hoverorange);
}

.aboutus-text{
    width: 400px;
}


.aboutus-text>h2{
    font-size: 40px;
}

.aboutus-text>img{
    position: relative;
    top: 90px;
}

.aboutus-second-container{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 10px;
}

.aboutus-second-container>h1{
    font-size: 30pt;
}

.aboutus-second-container>p{
    font-size: 15pt;
}


.aboutus-three-containers{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutus-three-containers>hr{
    border: 1px solid var(--hoverorange);

}

.secondbucket{
    width: 350px;
}

.small-second{
    display: flex;
    gap: 60px;
}

.small-second>i{
    font-size: 50pt;
    width: 50px;
    color: var(--hoverorange);
}

.small-third>h2{
    font-size: 17pt;
}
.small-third>p{
    font-size: 15pt;
}

@media only screen and (max-width: 1300px){
    .aboutus-small-container{
        gap: 50px;
    }
    .aboutus-ul{
        width: auto;
    }
}

@media only screen and (max-width: 1000px){
    .aboutus-small-container{
        display: block;
    }
    .aboutus-text{
        height: 500px;
    }
}

@media only screen and (max-width: 680px){
    .secondbucket{
        width: 60vw;
    }
    .aboutus-text{
        width: auto;
    }
    .aboutus-text>h2{
        font-size: 18pt;
        text-align: center;
    }
}

/* Float four columns side by side */
.column {
    margin-top: 50px;
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    padding: 16px;
    text-align: center;
    background-color: var(--navbarBG);
    color: white;
  }
  
  .card>p>i {
    font-size: 20pt;
    margin: 15px;
  }

  .card:hover h3{
    color: var(--hoverorange);
  }


/* SERVICES PAGE STARTS HERE */

.services-container{
    height: 800px;
    margin-top: 60px;
}

.services-container-second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.services-container>h1{
    font-size: 30pt;
    color: var(--hoverorange);
    text-align: center;
    margin: 30px 0px 70px 0px;
}

.services-painting{
    border-radius: 10px;
    position: relative;
    width: 350px;
    height: 650px;
    /* background img */
    background-image: url('/img/services-maleri.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.services-carpentry{
    background-color: #18222A;
    border-radius: 10px;
    width: 350px;
    height: 650px;

    /* background img */
    background-image: url('/img/services-carpentry.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.services-container-second>a{
    text-decoration: none;
    text-align: center;
    font-size: 24pt;
    color: black;
    opacity: 0.7;
    transition: 0.25s;

}

.services-container-second>a:hover{
    opacity: 1;
    transition: 0.25s;
}

.services-div{
    display: flex;
    justify-content: center;
    position: relative;
    top: 590px;
    align-items: center;
    font-size: 18pt;
    height: 60px;
    background-color: var(--navbarBG);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.services-div>p{
    color: white;
    font-weight: bold;
}

.services-container-second>a:hover .services-div{
    position: relative;
    animation-name: example;
    animation-duration: 1.3s; 
    animation-fill-mode: forwards;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@keyframes example {
    to {top: 500px;}
}

@media only screen and (max-width: 1200px){

    .services-container{
        height: auto;
    }
    .services-container-second{
        gap: 50px;
        flex-wrap: wrap;
    }
}


/* GALLERY CONTAINER STARTS HERE */

.gallery{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 900px;
    background-color: rgb(240, 240, 240);
}
.gallery section {
    width: 85%;
    text-align: center;
  }
  .gallery section .carousel-container {
    width: 100%;
    height: 800px;
    margin-top: 50px;
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0.375rem;
  }
  .gallery section .carousel-container .item {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    animation: fade 0.3s ease-in-out;
  }
  .gallery section .carousel-container .item .numbertext {
    padding: 0.5rem 0.75rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 0.9375rem;
    font-size: 0.875rem;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .gallery section .carousel-container .item .image {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .gallery section .carousel-container .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--navbarSM);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .gallery section .carousel-container .item .text {
    width: 100%;
    padding: 0.625rem 0.9375rem;
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    color: #f2f2f2;
    background-color: rgba(126, 126, 126, 0.9);
  }
  .gallery section .carousel-container .item .text .title {
    margin: 0.5rem 0 0 0;
    font-size: 1.2rem;
    font-weight: normal;
  }
  .gallery section .carousel-container .prev, .gallery section .carousel-container .next {
    width: 2rem;
    height: 2rem;
    padding: 0.3125rem;
    position: absolute;
    top: calc(50% - 1rem);
    user-select: none;
    font-size: 1rem;
    color: #f2f2f2;
    border-radius: 50%;
    transition: 0.6s ease;
  }
  .gallery section .carousel-container .prev:focus, .gallery section .carousel-container .next:focus, .gallery section .carousel-container .prev:hover, .gallery section .carousel-container .next:hover {
    background-color: rgba(128, 128, 128, 0.9);
  }
  .gallery section .carousel-container .prev {
    left: 0.8rem;
    text-align: center;
  }
  .gallery section .carousel-container .next {
    text-align: center;
    right: 0.8rem;
  }
  .gallery section .carousel-container .dots {
    padding: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery section .carousel-container .dots .dot {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.125rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color 0.6s ease;
  }
  .gallery section .carousel-container .dots .dot:focus, .gallery section .carousel-container .dots .dot:hover {
    background-color: #717171;
  }

  /* CONTACT US CONTAINER STARTS HERE */
  .contact-us{
    width: 100%;
    height: 700px;
    display: block;
    background-color: var(--navbarSM);
  }
  .contact-us-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 65%;
    height: 100%;
    background-color: var(--navbarBG);
  }

  .contact-text{
    font-size: 14pt;
    color: white;
  }

  .name-number-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .name-number-container>input{
    height: 40px;
    width: 270px;
    padding-left: 5px;
    font-size: 12pt;
  }

  .contact-form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;
  }

  .contact-form>input{
    width: auto;
    height: 40px;
    padding-left: 5px;
    font-size: 12pt;
  }

  .contact-textarea{
    height: 200px;
    padding-left: 5px;
    font-size: 12pt;
  }

  .submit{
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.submit:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.submit:active {
  transform: scale(0.95);
}


@media screen and (max-width: 1000px) {
    .contact-us-center{
        width: auto;
    }
    .contact-text{
        margin: 0px 15px 0px 15px;
    }
    .name-number-container{
        flex-direction: column;
        gap: 40px;
    }
    .contact-form{
        width: auto;
        margin: 0px 15px 0px 15px;
    }
    .contact-form>input{
        width: 270px;
    }
  }


  .footer{
    width: auto;
    height: 500px;
  }